<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date %-5level [${HOSTNAME} %thread] %caller{1}%msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.example.ShadowSocksShare" level="DEBUG"/>

        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.jsoup" level="DEBUG"/>
        <logger name="org.hibernate" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.example.ShadowSocksShare" level="DEBUG"/>

        <logger name="org.openqa.selenium" level="DEBUG"/>
        <logger name="org.openqa.selenium" level="DEBUG"/>

        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.jsoup" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>